<div class="bg">
  <div class="log-box">
    <h1>Login</h1>
    <form [formGroup]="loginForm">

      <div class="form-group wrapper">
        <i class="fa fa-user" aria-hidden="true"></i>
        <input type="text" placeholder="Enter User Name" required formControlName="userName" class="form-control">
      </div>
      <div class="form-group wrapper">
        <i class="fa fa-lock" aria-hidden="true"></i>
        <input type="password" placeholder="Enter the password" required formControlName="password" class="form-control"
        minlength="6">
      </div>
    </form>
    <button type="submit" class="btn btn-success btn-block" (click)="login()">Login</button>
     <a class="signup" [routerLink]="'/signup'" class="signUp float-right">SignUp</a>
  </div>
</div>

