<div class="bg">
  <div class="signIn-box">
    <div class="container-fluid">
      <h1> Sign Up</h1>
      <form [formGroup] ="registrationForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label class="heading"> User Name</label>
          <input [class.is-invalid] = "userName.invalid && userName.touched" type ="text" required  formControlName ="userName" class="form-control" placeholder="Enter Your Name">
          <div *ngIf="userName.invalid && userName.touched">
            <small *ngIf="userName.errors?.required" class="text-danger"> user Name is required</small>
            <small *ngIf="userName.errors?.minlength" class="text-danger"> username should be atleast 6 characters</small>
          </div>
        </div>

        <div class="form-group">
          <label class="heading"> Email </label>
          <input type ="email" [class.is-invalid]="email.invalid && email.touched"  pattern ="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-zA-Z]{2,4}" formControlName="email" class="form-control" placeholder="Enter Your Email" >
          <div *ngIf="email.invalid && email.touched">
            <small *ngIf="email.errors?.required" class="text-danger"> email is required</small>
            <small *ngIf="email.errors?.pattern" class="text-danger">  should be in proper format. Ex: abc@email.com format</small>
          </div>
        </div>

        <div class="form-group">
          <label class="heading"> Phone number</label>
          <input type ="number"  pattern ="^\d{10}$" formControlName="phoneNumber"  class="form-control"  required placeholder="Enter Your Phone Number">
          <div *ngIf="phoneNumber.invalid && phoneNumber.touched">
            <small *ngIf="phoneNumber.errors?.required" class="text-danger"> phone Number is required</small>
            <small *ngIf="phoneNumber.errors?.pattern" class="text-danger"> phoneNumber should have strictly 10 digits </small>
          </div>
        </div>

        <div class="form-group">
          <label class="heading">Password</label>
          <input type ="password" formControlName ="password" class="form-control" minlength="6" placeholder="Enter Password" required>
          <div *ngIf="password.invalid && password.touched">
            <small *ngIf="password.errors?.required" class="text-danger"> password is required</small>
            <small *ngIf="password.errors?.minlength" class="text-danger"> password should have minimum 6 digits </small>
          </div>
        </div>

        <div class="form-group">
          <label class="heading">Confirm Password</label>
          <input type ="password" required  [class.is-invalid]="registrationForm.errors?.misMatch" formControlName ="confirmPassword" class="form-control" minlength="6" placeholder="Enter Confirm Password">
          <small class="text-danger" *ngIf="registrationForm.errors?.misMatch">Passwords do not match</small>
        </div>

        <div class="form-check mb-3">
          <input type="checkbox" class="form-check-input" [class.is-invalid]="registrationForm.get('termsAndConditions').invalid && registrationForm.get('termsAndConditions').touched" formControlName="termsAndConditions" required >
          <label class="form-check-label heading" id ="form-check-input">Agree to the term and conditions</label>
          <small class="text-danger" [class.d-none]="registrationForm.get('termsAndConditions').valid || registrationForm.get('termsAndConditions').untouched"></small>
        </div>

      </form>
    </div>
    <button [disabled]="registrationForm.invalid" class="btn btn-secondary" type="submit" (click)="onSubmit()">Submit</button>
  </div>
</div>
